*{
    padding:0;
    margin: 0;
    box-sizing: content-box;
}
.page__container{
    height: 100vh;
    background-color: #C6CFA2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lucida Console", Courier, monospace;
}
    /*---------------------------------------------------- HEADER---------------------------------- */
.img__container{
    display: flex;
    justify-content: center;
}
.img__logo{
    width: 30%;
}

    /* --------------------------------- BLOCKS---------------------------------  */
.block{
    border: 5px solid black;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    opacity: 0.2;
}
/* .boardBlock{
    display: none;
} */
.insideblock{
    width: 10px;
    height: 10px;
    background-color: black;
    }

.tetromino{
    opacity: 1;
}


    /* --------------------------------- BOARDS CONTAINERS---------------------------------  */
.boards__container{
    display: flex;
    justify-content: center;
    width: 100%;
    gap:15px;
}
.score-board__tittle{
    margin: 1em 0 0.5em;
}
.game-board__container{
    display:grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(20, 30px);
    border: 2px solid #000000;
    width: 300px;
    height: 600px;
    margin-bottom: 2em;
}
.mini-board__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    width: 160px;
    height: 300px;
    align-self: center;
}
.score__counter{
    display: flex;
    text-align: center;
    color: #303a21;
    font-family: "Lucida Console", Courier, monospace;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 120px;
    height: 30px;
    margin-bottom: 1.5em;
}
.mini-board__container__block{
    display:grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 30px);
    grid-template-rows: repeat(4, 30px);
    border: 2px solid #000000;
    width: 120px;
    height: 120px;
    margin-bottom: 1em;
    }

.gameOver__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 240px;
    height: 240px;
    border: 2px solid black;
    padding-top: 40px;
    text-align: center;
    margin-bottom: 80px;
    color: #303a21;
    font-size: 4rem;
    font-family: "Lucida Console", Courier, monospace;
    background-color: #C6CFA2;
    z-index: 10;
}

.result__text{
    border: 2px solid black;
    font-size: 1rem;
    margin: 0.2em 0em 0.2em 0em;
    width: 80%;
}
    /*---------------------------------  ARROW CONTAINERS --------------------------------- */
.key-controllers__container{
    display: flex;
    flex-direction: column;
}
.move-keys__container{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}
.rotate-key__container{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

/*---------------------------------  ARROWS --------------------------------- */
.arrow{
    height: 1em;
    margin: 0em 0.3em 0.4em 0.3em;
}
.left__arrow{
    transform: rotate(90deg);
} 
.right__arrow{
    transform: rotate(270deg);
} 

.up__arrow{
    transform: rotate(180deg);
} 

/*---------------------------------  BUTTON --------------------------------- */

.start__button{
    width: 5em;
    height: 2em;
    background-color: #C6CFA2;
    opacity: 0.7;
    color: black;
    border-style: solid;
    border-color: black;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 1rem;
    font-weight: bold;

}

.start__button:hover{
    background-color: black;
    transition: 0.3s ease-out;
    color: #C6CFA2;
    font-family: "Lucida Console", Courier, monospace;
}




/*---------------------------------  FOOTER --------------------------------- */

/* .footer{
    width:100%;
    height: 4em;
} */